.root.root:has(.icon) {
  min-width: auto;
}

.root:not(:has(.icon)) > :is(button, a) {
  justify-content: center;
}

.root > :is(button, a) {
  width: 100%;
  height: var(--button-height);
}

.root[data-size="lg"] {
  min-width: 4rem;
}

.root[data-size="md"] {
  min-width: 3.5rem;
}

.root[data-size="sm"] {
  min-width: 3rem;
}

.root.fluid {
  width: 100%;
  justify-content: center;
}

.text {
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: var(--button-leading);
}

.icon {
  width: var(--button-icon-size);
  height: var(--button-icon-size);
  max-width: var(--button-icon-size);
  max-height: var(--button-icon-size);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex-shrink: 0;
}

.start-icon {
  margin-inline-end: var(--spacing-sm);
}

.end-icon {
  margin-inline-start: var(--spacing-lg);
}
