.root {
  min-width: var(--button-min-width);
}

.root.root:has(.icon) {
  min-width: auto;
}

.root:not(:has(.icon)) > :is(button, a, [role="button"]) {
  justify-content: center;
}

.root > :is(button, a, [role="button"]) {
  width: 100%;
  height: var(--button-height);
}

.root[data-size="lg"] {
  --button-horizontal-padding: var(--spacing-md);
  --button-min-width: 4rem;
}

.root[data-size="md"] {
  --button-horizontal-padding: var(--spacing-sm);
  --button-min-width: 3.5rem;
}

.root[data-size="sm"] {
  --button-horizontal-padding: var(--spacing-sm);
  --button-min-width: 3rem;
}

.root.fluid {
  width: 100%;
  justify-content: center;
}

.text {
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: var(--button-leading);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.icon {
  width: var(--button-icon-size);
  height: var(--button-icon-size);
  max-width: var(--button-icon-size);
  max-height: var(--button-icon-size);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex-shrink: 0;
}

.start-icon {
  margin-inline-end: var(--spacing-sm);
  margin-inline-start: calc(-1 * var(--spacing-xs));
}

.end-icon {
  margin-inline-start: var(--spacing-lg);
  margin-inline-end: calc(-1 * var(--spacing-xs));
}
