.root {
  height: 3rem;

  display: flex;
  align-items: center;

  padding: var(--spacing-sm);

  box-shadow: 0 1px 0 0 var(--color-border-tertiary);
}

.breadcrumb {
  margin-inline-start: var(--spacing-md);
}
