.root {
  --select-input-control-color: transparent;
  --select-input-control-background: transparent;
  --select-input-control-border-color: transparent;
  --select-input-control-height: 0;
  --select-input-control-font-size: 0;
  --select-input-control-icon-size: 0;

  position: relative;
  display: flex;
  flex-direction: column;
}

.root:not(.disabled) {
  --select-input-control-color: var(--color-neutral-text-secondary);
  --select-input-control-border-color: var(--color-border-primary);
  --select-input-control-background: var(--color-surface-base);
}

.root.disabled {
  --select-input-control-color: var(--color-neutral-text-muted);
  --select-input-control-border-color: var(--color-border-secondary);
  --select-input-control-background: var(--color-surface-secondary);

  opacity: 0.5;
}

.root.has-error {
  --select-input-control-border-color: var(--color-negative-text);
}

.root.lg {
  --select-input-control-font-size: var(--text-body1);
  --select-input-control-icon-size: 1.25rem;
  --select-input-control-height: 2.5rem;
}

.root.md {
  --select-input-control-font-size: var(--text-body2);
  --select-input-control-icon-size: 1rem;
  --select-input-control-height: 2rem;
}

.root.sm {
  --select-input-control-font-size: var(--text-body2);
  --select-input-control-icon-size: 0.875rem;
  --select-input-control-height: 1.5rem;
}

.feedback {
  margin-top: var(--spacing-sm);
}

.label + * {
  margin-top: var(--spacing-md);
}

.description + * {
  margin-top: var(--spacing-sm);
}

.control {
  display: flex;
  align-items: center;

  font-size: var(--select-input-control-font-size);
  height: var(--select-input-control-height);
  color: var(--select-input-control-color);

  cursor: pointer;

  padding: var(--spacing-xs);

  border-radius: var(--radius-sm);
  box-shadow: 0 0 0 0.0625rem var(--select-input-control-border-color);
  background-color: var(--select-input-control-background);
}

.control:has(.input:focus-visible) {
  outline-style: solid;
  outline-width: var(--token-focus-ring-stroke);
  outline-color: var(--token-focus-ring-color);
  outline-offset: var(--token-focus-ring-offset);
}

.input {
  font-size: inherit;
  color: inherit;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;

  cursor: pointer;

  border-radius: inherit;
  padding-inline: var(--spacing-xs);
}

.input:focus-visible {
  outline: none;
}

.start-slot,
.end-slot {
  height: 100%;
  display: inline-flex;
  align-items: center;

  flex-shrink: 0;
}

.start-slot {
  margin-inline-start: var(--spacing-xs);
}

.end-slot {
  margin-inline-end: var(--spacing-xs);
}

.start-slot + * {
  margin-inline-start: var(--spacing-xs);
}

* + .end-slot {
  margin-inline-start: var(--spacing-xs);
}

:is(.start-slot, .end-slot) > svg,
.select-icon {
  width: var(--select-input-control-icon-size);
  height: var(--select-input-control-icon-size);
  max-width: var(--select-input-control-icon-size);
  max-height: var(--select-input-control-icon-size);
}

.input[data-placeholder] {
  color: color-mix(in oklab, var(--select-input-control-color), transparent);
}

.select-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-inline-start: auto;
}

.content {
  width: max(var(--select-input-content-width), max-content);
  max-height: 11rem;

  background-color: var(--color-surface-secondary);
  box-shadow: 0 0 0 1px var(--color-border-secondary);
  border-radius: var(--radius-sm);
  padding: var(--spacing-xs);
  margin-inline-start: calc(-1 * var(--spacing-xs));
}

.content[data-side="top"] {
  margin-bottom: calc(var(--spacing-xs) + 1px);
}

.content[data-side="bottom"] {
  margin-top: calc(var(--spacing-xs) + 1px);
}

.viewport {
  max-height: 11rem;
}

.item {
  --select-input-item-background: transparent;
  --select-input-item-color: var(--color-neutral-text);

  font-size: var(--text-body2);
  line-height: var(--leading-body2);
  font-weight: 400;

  border-radius: var(--radius-md);
  background-color: var(--select-input-item-background);
  color: var(--select-input-item-color);

  padding: 0 var(--spacing-sm);
  gap: var(--spacing-sm);

  cursor: pointer;

  display: flex;
  align-items: center;

  height: 1.5rem;
}

.item[data-disabled] {
  --select-input-item-color: var(--color-neutral-600);

  cursor: default;
}

.item[data-highlighted] {
  --select-input-item-background: var(--color-brand);
}

.item:focus-visible {
  outline: none;
}

.item + * {
  margin-top: var(--spacing-sm);
}

.group:not(:last-child) {
  box-shadow: 0 1px 0 0 var(--color-border-secondary);
  margin-bottom: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}

.item-indicator {
  width: 1rem;
  height: 1rem;
  max-width: 1rem;
  max-height: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-inline-start: auto;
}

.scroll-indicator {
  display: flex;
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-sm);
  height: 1.5rem;

  z-index: 1;

  color: var(--color-neutral-text-tertiary);
  background-color: var(--color-surface-secondary);
}

.group-label {
  font-size: var(--text-caption);
  line-height: var(--leading-caption);
  font-weight: 400;

  padding: 0 var(--spacing-sm);

  color: var(--color-neutral-text-tertiary);
  margin-bottom: var(--spacing-sm);
}
