.content {
  font-family: inherit;
  background-color: var(--color-background);
  z-index: 50;
  padding: 1rem;
  box-shadow: 0 0 0 0.0625rem var(--color-border-primary);
  outline: none;
  border-radius: var(--radius-md);
}
