.content {
  font-family: inherit;
  background-color: var(--color-background);
  z-index: 50;
  border: 1px solid var(--color-border-primary);
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}
