.root {
  justify-content: center;
  text-align: center;

  padding: 0;

  border-radius: var(--radius-full);

  flex-shrink: 0;
}

.root > :is(button, a, [role="button"]) {
  width: var(--button-height);
  height: var(--button-height);

  justify-content: center;
}

.icon {
  flex-shrink: 0;

  width: var(--button-icon-size);
  height: var(--button-icon-size);
  max-width: var(--button-icon-size);
  max-height: var(--button-icon-size);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
