.icon-container {
    display: flex;
    cursor: default;
    align-items: center;
    justify-content: center;
    width: var(1rem) !important;
    height: var(1rem) !important;
}


.icon {
    width: var(1rem) !important;
    height: var(1rem) !important;
    background: blue;
}

.content.content {
  background: var(--color-surface-secondary);
  color: var(--color-foreground);

  position: relative;
  z-index: 50;
  max-height: var(--radix-select-content-available-height);
  min-width: 8rem;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: var(--radius-md);

  box-shadow: 0 0 0 0.0625rem var(--checkbox-border-color) !important;
  transform-origin: var(--radix-select-content-transform-origin);
}
