.root {
  --form-control-control-color: transparent;
  --form-control-control-background: transparent;
  --form-control-control-border-color: transparent;
  --form-control-control-height: 0;
  --form-control-control-font-size: 0;
  --form-control-control-icon-size: 0;
  --form-control-control-input-horizontal-padding: var(--spacing-xs);

  position: relative;
  display: flex;
  flex-direction: column;
}

.root:not(.disabled) {
  --form-control-control-color: var(--color-neutral-text-secondary);
  --form-control-control-border-color: var(--color-border-primary);
  --form-control-control-background: var(--color-surface-base);
}

.root.disabled {
  --form-control-control-color: var(--color-neutral-text-muted);
  --form-control-control-border-color: var(--color-border-secondary);
  --form-control-control-background: var(--color-surface-secondary);
}

.root.has-error {
  --form-control-control-border-color: var(--color-negative-text);
}

.root.lg {
  --form-control-control-font-size: var(--text-body1);
  --form-control-control-icon-size: 1.25rem;
  --form-control-control-height: 2.5rem;
}

.root.md {
  --form-control-control-font-size: var(--text-body2);
  --form-control-control-icon-size: 1rem;
  --form-control-control-height: 2rem;
}

.root.sm {
  --form-control-control-font-size: var(--text-body2);
  --form-control-control-icon-size: 0.875rem;
  --form-control-control-height: 1.5rem;
}

.feedback {
  margin-top: var(--spacing-sm);
}

.label + * {
  margin-top: var(--spacing-md);
}

.description + * {
  margin-top: var(--spacing-sm);
}
