.root {
  min-width: 5rem;
}

.text {
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: var(--button-leading);

  margin-inline: auto;
}

.icon {
  width: var(--button-icon-size);
  height: var(--button-icon-size);
  max-width: var(--button-icon-size);
  max-height: var(--button-icon-size);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.start-icon {
  margin-inline-end: var(--spacing-sm);
}

.end-icon {
  margin-inline-start: var(--spacing-lg);
}
