.root {
  --menu-item-font-size: 0;
  --menu-item-icon-size: 0;
  --menu-height: 14rem;

  width: 100%;
  max-height: var(--menu-height);
  overflow: auto;

  background-color: var(--color-surface-base);
  box-shadow: 0 0 0 1px var(--color-border-secondary);
  border-radius: var(--radius-sm);
  padding: var(--spacing-xs);

  display: flex;
  flex-direction: column;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.root::-webkit-scrollbar {
  display: none;
}

.root.lg {
  --menu-item-font-size: var(--text-body1);
  --menu-item-icon-size: 1.25rem;
  --menu-height: 16rem;
}

.root.md {
  --menu-item-font-size: var(--text-body2);
  --menu-item-icon-size: 1rem;
  --menu-height: 14rem;
}

.root.sm {
  --menu-item-font-size: var(--text-body2);
  --menu-item-icon-size: 0.875rem;
  --menu-height: 12rem;
}

.label {
  display: block;

  font-size: var(--text-caption);
  line-height: var(--leading-caption);
  font-weight: 400;

  padding: 0 var(--spacing-sm);
  padding-inline-start: calc(var(--menu-item-icon-size) + var(--spacing-sm));

  color: var(--color-neutral-text-tertiary);
  margin-bottom: var(--spacing-xs);
}

.label + * {
  margin-top: var(--spacing-xs);
}

:is(.group, .radio-group) {
  display: flex;
  flex-direction: column;
}

:is(.group, .radio-group):not(:last-child) {
  box-shadow: 0 1px 0 0 var(--color-border-secondary);
  margin-bottom: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}

.separator {
  width: 100%;
  height: 0.0625rem;

  background-color: var(--color-border-tertiary);
  margin-block: var(--spacing-sm);

  flex-shrink: 0;
}

:is(.item, .checkbox-item, .radio-item) + * {
  margin-top: var(--spacing-xs);
}
