.root {
  --combobox-control-color: transparent;
  --combobox-control-background: transparent;
  --combobox-control-border-color: transparent;
  --combobox-control-height: 0;
  --combobox-control-font-size: 0;
  --combobox-control-icon-size: 0;

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.root:not(.disabled) {
  --combobox-control-color: var(--color-neutral-text-secondary);
  --combobox-control-border-color: var(--color-border-primary);
  --combobox-control-background: var(--color-surface-base);
}

.root.disabled {
  --combobox-control-color: var(--color-neutral);
  --combobox-control-border-color: var(--color-border-secondary);
  --combobox-control-background: var(--color-surface-secondary);

  opacity: 0.5;
}

.root.has-error {
  --combobox-control-border-color: var(--color-negative-text);
}

.root.lg {
  --combobox-control-font-size: var(--text-body1);
  --combobox-control-icon-size: 1.25rem;
  --combobox-control-height: 2.5rem;
}

.root.md {
  --combobox-control-font-size: var(--text-body2);
  --combobox-control-icon-size: 1rem;
  --combobox-control-height: 2rem;
}

.root.sm {
  --combobox-control-font-size: var(--text-body2);
  --combobox-control-icon-size: 0.875rem;
  --combobox-control-height: 1.5rem;
}

.feedback.feedback {
  margin-top: var(--spacing-sm);
}

.label + * {
  margin-top: var(--spacing-md);
}

.description + * {
  margin-top: var(--spacing-sm);
}

.control {
  display: flex;
  align-items: center;

  font-size: var(--combobox-control-font-size);
  min-height: var(--combobox-control-height);
  color: var(--combobox-control-color);

  cursor: pointer;

  padding-inline: var(--spacing-xs);

  border-radius: var(--radius-sm);
  box-shadow: 0 0 0 0.0625rem var(--combobox-control-border-color);
  background-color: var(--combobox-control-background);
}

.control:has(.input:focus-visible) {
  outline-style: solid;
  outline-width: var(--token-focus-ring-stroke);
  outline-color: var(--token-focus-ring-color);
  outline-offset: var(--token-focus-ring-offset);
}

.input {
  font-size: inherit;
  color: inherit;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-sm);

  width: 100%;
  height: 100%;

  cursor: pointer;

  border-radius: inherit;
  padding: var(--spacing-xs);
}

.input:focus-visible {
  outline: none;
}

.start-slot,
.end-slot {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;

  flex-shrink: 0;

  gap: var(--spacing-xs);
}

.start-slot {
  margin-inline-start: var(--spacing-xs);
}

.end-slot {
  margin-inline-end: var(--spacing-xs);
}

.start-slot + * {
  margin-inline-start: var(--spacing-xs);
}

* + .end-slot {
  margin-inline-start: var(--spacing-xs);
}

:is(.start-slot, .end-slot) > svg {
  width: var(--combobox-control-icon-size);
  height: var(--combobox-control-icon-size);
  max-width: var(--combobox-control-icon-size);
  max-height: var(--combobox-control-icon-size);
}

.chevron {
  width: var(--combobox-control-height);
  height: var(--combobox-control-height);
  max-width: var(--combobox-control-height);
  max-height: var(--combobox-control-height);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  margin-inline-start: calc(-1 * var(--spacing-sm));
}

.chevron > svg {
  width: var(--combobox-control-icon-size);
  height: var(--combobox-control-icon-size);
  max-width: var(--combobox-control-icon-size);
  max-height: var(--combobox-control-icon-size);
}

.content {
  margin-inline-start: calc(-1 * var(--spacing-xs));
  padding: 0 !important;
}

.content.full-width {
  width: var(--combobox-content-width);
}

.content[data-side="top"] {
  margin-bottom: 0.0625rem;
}

.content[data-side="bottom"] {
  margin-top: 0.0625rem;
}

.item[data-disabled="true"] {
  --command-item-color: var(--color-neutral-600);
}

.item[data-highlighted="true"] {
  --command-item-background: var(--color-brand) !important;
}

.item:focus-visible {
  outline: none;
}

.item + * {
  margin-top: var(--spacing-xs);
}

.group:not(:last-child) {
  box-shadow: 0 1px 0 0 var(--color-border-secondary);
  margin-bottom: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}

.item[data-explicitly-selected="false"] .item-indicator {
  color: transparent;
}

.item-indicator {
  width: 1rem;
  height: 1rem;
  max-width: 1rem;
  max-height: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-inline-start: auto;

  color: var(--color-neutral-text);
}

.placeholder {
  color: color-mix(in oklab, var(--combobox-control-color), transparent);
}

.badge {
  --badge-border-color: var(--color-border-tertiary) !important;
}

.root.sm .badge {
  border-radius: 0;
  height: calc(1.5rem - 0.25rem);
}

.content:not(.searchable) .searchbox {
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}
