.root {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: var(--z-4);

  backdrop-filter: saturate(180%) blur(8px);
}

.overlay {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: var(--color-backdrop-overlay);
}

.content {
  width: 100%;
  max-width: 35rem;
  max-height: 70vh;

  margin: var(--spacing-md);
  padding: var(--spacing-xl);

  border-radius: var(--radius-md);

  overflow-x: hidden;
  overflow-y: auto;

  position: relative;

  background-color: var(--color-surface-secondary);
  box-shadow: 0 0 0 1px var(--color-border-secondary);
}

.content[data-no-heading] .body {
  margin: 0;
}

.header {
  gap: var(--space-md);

  display: flex;
  align-items: center;
}

.title {
  margin: 0;

  font-size: var(--text-h6);
  line-height: var(--leading-h6);
  font-weight: 500;
}

.description {
  color: var(--color-neutral-text-secondary);
}

.body {
  margin: 0;
  margin-top: var(--spacing-md);

  font-size: var(--text-body1);
  line-height: var(--leading-body1);
  font-weight: 400;
}

.actions {
  margin-top: var(--spacing-md);

  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  gap: var(--spacing-md);
}

.close {
  margin-inline-start: auto;
}
