.root {
    --select-item-padding: 0;
    display: flex;
    align-items: center;
    padding: var(--select-item-padding) !important;
}
.root:focus {
    background: var(--color-surface-secondary);
    outline: none;
}

.root.sm {
    --select-item-padding: var(--spacing-xs) var(--spacing-xs);
}
.root.md {
    --select-item-padding: var(--spacing-xs) var(--spacing-xs);
}
.root.lg {
    --select-item-padding: var(--spacing-sm) var(--spacing-sm);
}

.item-indicator {
    color: var(--color-brand-200);
    display: flex;
    height: 1rem;
    width: 1rem;
    align-items: center;
    margin-inline-end: var(--spacing-xs);
    justify-content: center;
    
}