.root {
  display: flex;
  align-items: center;

  height: var(--form-control-control-height);

  padding: var(--spacing-xs);
  border-radius: var(--radius-sm);
  box-shadow: 0 0 0 0.0625rem var(--form-control-control-border-color);
  background-color: var(--form-control-control-background);
}

.root:has(.input:focus-visible) {
  outline-style: solid;
  outline-width: var(--token-focus-ring-stroke);
  outline-color: var(--token-focus-ring-color);
  outline-offset: var(--token-focus-ring-offset);
}

.root.disabled {
  opacity: 0.5;
}

.input:focus-visible {
  outline: none;
}

.input {
  font-size: var(--form-control-control-font-size);

  width: 100%;

  border-radius: inherit;
  padding-inline: var(--form-control-control-input-horizontal-padding);
}

.start-slot,
.end-slot {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

:is(.start-slot, .end-slot) > svg {
  width: var(--form-control-control-icon-size);
  height: var(--form-control-control-icon-size);
  max-width: var(--form-control-control-icon-size);
  max-height: var(--form-control-control-icon-size);
}
