.root {
  height: 2rem;

  display: flex;
  align-items: center;

  font-size: var(--text-body2);

  cursor: pointer;
  position: relative;

  padding-inline: var(--spacing-xs);

  color: var(--color-neutral-text-secondary);
  border-radius: var(--radius-sm);
  box-shadow: 0 0 0 0.0625rem var(--color-border-primary);
  background-color: var(--color-surface-base);
}

.root:has(.input:focus-visible) {
  outline-style: solid;
  outline-width: var(--token-focus-ring-stroke);
  outline-color: var(--token-focus-ring-color);
  outline-offset: var(--token-focus-ring-offset);
}

.icon {
  width: 1rem;
  height: 1rem;
  max-width: 1rem;
  max-height: 1rem;

  flex-shrink: 0;
  margin-inline: var(--spacing-xs);
}

.input {
  font-size: inherit;
  color: inherit;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;

  cursor: pointer;

  border-radius: inherit;
  padding-inline: var(--spacing-xs);
}

.input:focus-visible {
  outline: none;
}
