.root {
  --file-input-control-color: transparent;
  --file-input-control-background: transparent;
  --file-input-control-border-color: transparent;
  --file-input-control-height: 0;
  --file-input-control-font-size: 0;
  --file-input-control-icon-size: 0;

  position: relative;
  display: flex;
  flex-direction: column;
}

.root:not(.disabled) {
  --file-input-control-color: var(--color-neutral-text-secondary);
  --file-input-control-border-color: var(--color-border-primary);
  --file-input-control-background: var(--color-surface-base);
}

.root.disabled {
  --file-input-control-color: var(--color-neutral);
  --file-input-control-border-color: var(--color-border-secondary);
  --file-input-control-background: var(--color-surface-secondary);
}

.root.has-error {
  --file-input-control-border-color: var(--color-negative-text);
}

.root.lg {
  --file-input-control-font-size: var(--text-body1);
  --file-input-control-icon-size: 1.25rem;
  --file-input-control-height: 2.5rem;
}

.root.md {
  --file-input-control-font-size: var(--text-body2);
  --file-input-control-icon-size: 1rem;
  --file-input-control-height: 2rem;
}

.root.sm {
  --file-input-control-font-size: var(--text-body2);
  --file-input-control-icon-size: 0.875rem;
  --file-input-control-height: 1.5rem;
}

.feedback.feedback {
  margin-top: var(--spacing-sm);
}

.label + * {
  margin-top: var(--spacing-md);
}

.description + * {
  margin-top: var(--spacing-sm);
}

.control {
  display: flex;
  align-items: center;

  position: relative;
  cursor: pointer;

  font-size: var(--file-input-control-font-size);
  height: var(--file-input-control-height);
  color: var(--file-input-control-color);

  padding-inline: var(--spacing-xs);

  border-radius: var(--radius-sm);
  box-shadow: 0 0 0 0.0625rem var(--file-input-control-border-color);
  background-color: var(--file-input-control-background);
}

.control:has(.input:focus-visible) {
  outline-style: solid;
  outline-width: var(--token-focus-ring-stroke);
  outline-color: var(--token-focus-ring-color);
  outline-offset: var(--token-focus-ring-offset);
}

.root.disabled .control {
  opacity: 0.5;
}

.input:focus-visible {
  outline: none;
}

.input {
  width: 1px;
  height: 1px;

  position: absolute;
  left: 0;
  top: 0;
}

.value-display {
  display: flex;
  align-items: center;

  font-size: inherit;

  width: 100%;
  height: 100%;

  border-radius: inherit;
  padding-inline: var(--spacing-xs);
}

.value-display.placeholder {
  color: color-mix(in oklab, var(--file-input-control-color), transparent);
}

.start-slot,
.end-slot {
  height: 100%;
  display: inline-flex;
  align-items: center;

  flex-shrink: 0;

  gap: var(--spacing-xs);
}

.start-slot {
  margin-inline-start: var(--spacing-xs);
}

.end-slot {
  margin-inline-end: var(--spacing-xs);
}

.start-slot + * {
  margin-inline-start: var(--spacing-xs);
}

* + .end-slot {
  margin-inline-start: var(--spacing-xs);
}

:is(.start-slot, .end-slot) > svg {
  width: var(--file-input-control-icon-size);
  height: var(--file-input-control-icon-size);
  max-width: var(--file-input-control-icon-size);
  max-height: var(--file-input-control-icon-size);
}
