.root {
  --calendar-padding: var(--spacing-sm);
  --calendar-cells-gap: var(--spacing-xs);
  --calendar-cell-size: 2.125rem;
  --calendar-cell-font-size: var(--text-body2);

  width: fit-content;
  background: var(--color-background);
  border-radius: var(--radius-md);
  padding: var(--calendar-padding);
}

.root.full-width,
.root.full-width .month,
.root.full-width .month-grid {
  width: 100%;
}

.root.full-width .months {
  max-width: unset;
}

.nav {
  width: 100%;
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-surface-secondary);
}

.month-caption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.today .day-button {
  position: relative;
}

.today .day-button::before {
  content: "";
  box-shadow: 0 0 0 1px var(--color-brand-text-secondary);
  position: absolute;

  left: var(--spacing-xxs);
  right: var(--spacing-xxs);
  top: var(--spacing-xxs);
  bottom: var(--spacing-xxs);

  border-radius: 50%;
}

.day {
  flex: 1;
}

.weekdays {
  display: flex;
  color: var(--color-gray-400);
  gap: var(--calendar-cells-gap);
}
.weekday {
  flex: 1;
  user-select: none;

  width: var(--calendar-cell-size);
  height: var(--calendar-cell-size);
}

.week {
  display: flex;
  width: 100%;
  margin-top: var(--calendar-cells-gap);
  gap: var(--calendar-cells-gap);
}

.week-number-header {
  user-select: none;
  flex: 1;
}

.week-number {
  color: var(--color-gray-400);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: var(--calendar-cell-size);
  height: var(--calendar-cell-size);
}

.selected {
  background: var(--color-foreground);
  color: var(--color-background);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
}

.range-start {
  background: var(--color-white);
  color: var(--color-black);
  border-radius: var(--radius-sm);
}

.range-middle {
  background: var(--color-surface-tertiary);
  border-radius: var(--radius-sm);
}

.range-end {
  background: var(--color-white);
  color: var(--color-black);
  border-radius: var(--radius-sm);
}

.outside {
  color: var(--color-gray-600);
}

.day-button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;

  width: 100%;
  height: 100%;
}

.day.day {
  width: var(--calendar-cell-size);
  height: var(--calendar-cell-size);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--calendar-cell-font-size);
  line-height: 1;
}

.disabled {
  color: var(--color-foreground);
  opacity: 0.5;
}

.hidden {
  visibility: hidden;
}

.dropdown .control {
  margin-top: 0;
}
