.root {
  --calendar-padding: 0;
  --calendar-cells-gap: 0;
  --calendar-cell-size: 0;

  width: fit-content;
  background: var(--color-background);
  border-radius: var(--radius-md);
  padding: var(--calendar-padding);
}

.root.sm {
  --calendar-padding: var(--spacing-xs);
  --calendar-cells-gap: var(--spacing-xxs);
  --calendar-cell-size: 2rem;
}
.root.md {
  --calendar-padding: var(--spacing-sm);
  --calendar-cells-gap: var(--spacing-xs);
  --calendar-cell-size: 2.125rem;
}
.root.lg {
  --calendar-padding: var(--spacing-sm);
  --calendar-cells-gap: var(--spacing-sm);
  --calendar-cell-size: 2.25rem;
}

.nav {
  width: 100%;
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-surface-secondary);
}

.month-caption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.today {
  color: var(--color-brand-text-secondary);
}
.day {
  flex: 1;
}

.weekdays {
  display: flex;
  color: var(--color-gray-400);
  gap: var(--calendar-cells-gap);
}
.weekday {
  flex: 1;
  user-select: none;

  width: var(--calendar-cell-size);
  height: var(--calendar-cell-size);
}
.week {
  display: flex;
  width: 100%;
  margin-top: var(--calendar-cells-gap);
  gap: var(--calendar-cells-gap);
}
.week-number-header {
  user-select: none;
  flex: 1;
}
.week-number {
  color: var(--color-gray-400);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: var(--calendar-cell-size);
  height: var(--calendar-cell-size);
}

.selected {
  background: var(--color-foreground);
  color: var(--color-background);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
}

.range-start {
  background: var(--color-white);
  color: var(--color-black);
  border-radius: var(--radius-sm);
}
.range-middle {
  background: var(--color-surface-secondary);
  border-radius: var(--radius-sm);
}
.range-end {
  background: var(--color-white);
  color: var(--color-black);
  border-radius: var(--radius-sm);
}

.outside {
  color: var(--color-gray-600);
}

.day-button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.day.day {
  width: var(--calendar-cell-size);
  height: var(--calendar-cell-size);

  display: flex;
  align-items: center;
  justify-content: center;
}

.caption-label {
  user-select: none;
  font-weight: 500;
  border-radius: var(--radius-md);
  padding-inline: var(--spacing-sm);
  display: flex;
  align-items: center;
  gap: var(--calendar-cells-gap);
  height: 2rem;
}

.caption-label > svg {
  color: var(--color-neutral-muted);
  width: 0.875rem;
  height: 0.875rem;
}

.disabled {
  color: var(--color-foreground);
  opacity: 0.5;
}

.hidden {
  visibility: hidden;
}

.dropdown .control {
  margin-top: 0;
}