.root {
  width: 100dvw;
  height: 100dvh;

  position: relative;
}

.card {
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
  background-color: var(--color-surface-secondary);
  box-shadow: 0 0 0 1px var(--color-border-tertiary);
}

.logo {
  height: 5rem;
  width: 5rem;

  margin: 0 auto;
}

.title,
.description {
  text-align: center;
}

.auth-provider {
  padding: var(--spacing-xs);
  border-radius: var(--radius-lg);
  background-color: var(--color-surface-secondary);
  box-shadow: 0 0 0 1px var(--color-border-tertiary);
}

.auth-provider .icon {
  height: 1.25rem;
  width: 1.25rem;
}
