.root {
  width: 100dvw;
  height: 100dvh;

  position: relative;
}

.card {
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
  background-color: var(--color-surface-secondary);
  box-shadow: 0 0 0 1px var(--color-border-tertiary);
}

.logo {
  height: 2rem;
  width: 2rem;

  margin: 0 auto;
}
