.root {
  font-family: inherit;

  background-color: var(--color-surface-secondary);

  z-index: var(--z-4);
  padding: var(--spacing-md);
  box-shadow: 0 0 0 0.0625rem var(--color-border-secondary);
  border-radius: var(--radius-md);
}
