@import "tailwindcss";
@import "./theme.css";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box !important;
  }

  :is(*, a):focus-visible {
    outline-style: solid;
    outline-width: var(--token-focus-ring-stroke);
    outline-color: var(--token-focus-ring-color);
    outline-offset: var(--token-focus-ring-offset);
  }

  :where(a) {
    text-decoration: none;
  }

  :where(p),
  :where(h1),
  :where(h2),
  :where(h3),
  :where(h4),
  :where(h5),
  :where(h6) {
    margin: unset;
  }
}

html {
  background-color: var(--color-surface-secondary);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);

  font-optical-sizing: auto;
  font-style: normal;
  font-size: var(--text-body1);
  font-weight: var(--font-weight-body1);
  line-height: var(--leading-body1);
}

[dir="rtl"] {
  font-family: var(--font-rtl) !important;
}

[dir="ltr"] {
  font-family: var(--font-ltr) !important;
}
