.root {
  --alert-background: transparent;
  --alert-border-color: transparent;
  --alert-title-color: transparent;
  --alert-icon-color: transparent;
  --alert-description-color: transparent;

  display: flex;
  align-items: flex-start;

  background-color: var(--alert-background);
  box-shadow: 0 0 0 1px var(--alert-border-color);
  border-radius: var(--radius-md);
  padding: var(--spacing-md);

  gap: var(--spacing-md);
}

.root.neutral {
  --alert-background: var(--color-surface-tertiary);
  --alert-border-color: var(--color-border-secondary);
  --alert-title-color: var(--color-neutral-text);
  --alert-icon-color: var(--color-neutral-text);
  --alert-description-color: var(--color-neutral-text-secondary);
}

.root.brand {
  --alert-background: color-mix(
    in oklab,
    var(--color-brand) 12.5%,
    transparent
  );
  --alert-border-color: var(--color-brand);
  --alert-title-color: var(--color-neutral-text);
  --alert-icon-color: var(--color-brand-text);
  --alert-description-color: var(--color-neutral-text-secondary);
}

.root.positive {
  --alert-background: color-mix(
    in oklab,
    var(--color-positive) 12.5%,
    transparent
  );
  --alert-border-color: var(--color-positive);
  --alert-title-color: var(--color-neutral-text);
  --alert-icon-color: var(--color-positive-text);
  --alert-description-color: var(--color-neutral-text-secondary);
}

.root.negative {
  --alert-background: color-mix(
    in oklab,
    var(--color-negative) 12.5%,
    transparent
  );
  --alert-border-color: var(--color-negative);
  --alert-title-color: var(--color-neutral-text);
  --alert-icon-color: var(--color-negative-text);
  --alert-description-color: var(--color-neutral-text-secondary);
}

.root.info {
  --alert-background: color-mix(in oklab, var(--color-info) 12.5%, transparent);
  --alert-border-color: var(--color-info);
  --alert-title-color: var(--color-neutral-text);
  --alert-icon-color: var(--color-info-text);
  --alert-description-color: var(--color-neutral-text-secondary);
}

.root.warn {
  --alert-background: color-mix(in oklab, var(--color-warn) 12.5%, transparent);
  --alert-border-color: var(--color-warn);
  --alert-title-color: var(--color-neutral-text);
  --alert-icon-color: var(--color-warn-text);
  --alert-description-color: var(--color-neutral-text-secondary);
}

strong.title.title {
  color: var(--alert-title-color);

  margin-bottom: var(--spacing-sm);
}

p.description.description {
  color: var(--alert-description-color);
}

.icon {
  color: var(--alert-icon-color);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.25rem;
  height: 1.25rem;
  max-width: 1.25rem;
  max-height: 1.25rem;
}
